.one{
  display: flex;
  justify-content: center;
}
 .two{
  display: flex;
  justify-content: center;
}
.three{
  display: flex;
  justify-content: center;
}
.four{
  display: flex;
  justify-content: center;
}
#top{
  text-align: center;
}
@media only screen and (min-width:425px) and (max-width:768px) {
  .three{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .one{
    display: flex;
    justify-content: center;
  }
   .two{
    display: flex;
    justify-content: center;
  }
  .four{
    display: flex;
    flex-wrap: wrap;
  }
  .four,img{
    margin: 5px;
  }
}
@media only screen and (max-width:424px) {
  .three{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .one{
    display: flex;
    justify-content: center;
  }
   .two{
    display: flex;
    justify-content: center;
  }
.four{
  display: flex;
  flex-direction: column;
}

}
